<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <div class="social-icons">
      <a href="https://www.instagram.com/lukeanglin_/" target="_blank"
        ><img
          src="/static/assets/media/instagram.png"
          alt="Instagram Icon"
          style="
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-right: 10px;
          "
      /></a>
      <!-- Replace with your Instagram username and icon image -->
      <a
        href="https://www.tiktok.com/@christian..apologetics?is_from_webapp=1&sender_device=pc"
        target="_blank"
        ><img
          src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2pvYjkwOC1jYS03Ml8xLnBuZw.png"
          alt="TikTok Icon"
          style="width: 25px; height: 25px; display: inline-block"
      /></a>
      <!-- Replace with your TikTok username and icon image -->
    </div>

    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->

      {% comment %} The code below dynamically generates a sidebar nav of pages
      with `layout: page` in the front-matter. See readme for usage. {%
      endcomment %} {% assign pages_list = site.pages %} {% for node in
      pages_list %} {% if node.title != null %} {% if node.layout == "page" %}
      <a
        class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
        href="{{ node.url }}"
        >{{ node.title }}</a
      >
      {% endif %} {% endif %} {% endfor %}
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
